<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Url:</strong>
    <%= @registered_application.url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @registered_application.user.name %>
  </p>

  <p>
   <strong>Events:</strong><br>
    <% @event_count.each do |event, number| %>
      <%= event %>: <%= number %><br>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
  <%= link_to 'Back', registered_applications_path %>
</div>

