  <p id="notice"><%= notice %></p>

  <h2 id="app_url">
    <%= @registered_application.url %>
  </h2>

<div class="row clearfix">
  <p>
   <strong>Events:</strong><br>
    <% @event_count.each do |event, number| %>
      <%= event %>: <%= number %><br>
    <% end %>
  </p>
</div>

  <div class="registered_app_nav">
    <%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
    <%= link_to 'Back', registered_applications_path %>
  </div>


