<div class="container">

  <h1>Listing Events</h1>

  <hr>

      <% @events.each do |event| %>
      <%= event.name %> recorded <%= time_ago_in_words(event.created_at) %> ago 
        </tr>
        <div class="pull-right">
          <%= link_to 'Show', event, class: "btn btn-primary btn-sm" %> 
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </div>
          <hr>
      <% end %>

  <%= link_to 'New Event', new_event_path, class: "btn btn-success" %>
</div>